[Unit]
 Description=Controle de Uso
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/home/pi/start_python.sh 

 [Install]
 WantedBy=multi-user.target
