[Desktop Entry]
Version=1.0
Name=gpenello
Comment=Registro de Uso
Exec=sudo /home/gpenello/Documents/Programas/Python/registro-de-uso-presenca-lab/Controle_UsoDeEquipamento/RegistroDeUso.pyw
Terminal=false
StartupNotify=true
Type=Application
NoDisplay=false
Categories=Utility;Application;