[Desktop Entry]
Version=1.0
Name=gpenello
Comment=Registro de Uso
Exec=/home/germano/Documents/Faculdade/UFRJ/Programas/Python/registro-de-uso-presenca-lab/Controle_UsoDeEquipamento/start_python.sh 
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;Application;